{% extends "base.html" %}

{% block html_title %}探索{% endblock %}

{% block body %}
<div class="page-title">
    <h2>最受欢迎文字</h2>
</div>
<ul class="article-list">
    <a href="/article/1" class="ck-link">
        <li>
            <header><h1>养盆水仙好过年</h1></header>
            <div class="summary">一盏盈盈净水，一捧珠玑石子，水仙静立其中，轻吐清香。 李笠渔道，在女子中，面似桃，腰似柳，丰如牡丹芍药，瘦比秋菊海棠的，随处可见；而像水仙那样淡而多姿，不动不摇而能媚的实在没有见过。笔者深以为然。水仙镂冰作面，剪雪为衣，馨香六瓣，金盏银台，配上翠袖绿裳，微低着头，秀逸清新，难怪她被誉为“凌波仙子”，常被文人雅士养于书桌上，又称之为“岁暮清供”。以“水仙”二字名之，可谓摹写殆尽。一个“水”字，足以动人，再加上一个“仙”字，那真真是销魂。不知是谁为她起了这样清雅的名字，把水仙的神韵情态恰到好处地描了出来。至少，在花的国度...</div>
        </li>
    </a>
</ul>
<div class="page-title">
    <h2>植物分类</h2>
</div>
<ul class="tagcloud">
<li><a href="/tag/what">腊梅</a></li>
<li><a href="/tag/what">常春藤</a></li>
<li><a href="/tag/what">夹竹桃</a></li>
<li><a href="/tag/what">红枫</a></li>
<li><a href="/tag/what">常春藤</a></li>
<li><a href="/tag/what">八角金盘</a></li>
<li><a href="/tag/what">鹤望兰</a></li>
<li><a href="/tag/what">常春藤</a></li>
<li><a href="/tag/what">鹅掌柴</a></li>
<li><a href="/tag/what">长春花</a></li>
<li><a href="/tag/what">木芙蓉</a></li>
<li><a href="/tag/what">曼陀罗</a></li>
<li><a href="/tag/what">翠菊</a></li>
<li><a href="/tag/what">非洲菊</a></li>
<li><a href="/tag/what">五色梅</a></li>
<li><a href="/tag/what">报春花</a></li>
<li><a href="/tag/what">龙舌兰</a></li>
<li><a href="/tag/what">水晶掌</a></li>
<li><a href="/tag/what">矮牵牛</a></li>
<li><a href="/tag/what">腊梅</a></li>
<li><a href="/tag/what">石榴</a></li>
<li><a href="/tag/what">火鹤花</a></li>
<li><a href="/tag/what">萱草</a></li>
<li><a href="/tag/what">石榴</a></li>
<li><a href="/tag/what">合果芋</a></li>
<li><a href="/tag/what">瓜叶菊</a></li>
<li><a href="/tag/what">丽穗凤梨</a></li>
<li><a href="/tag/what">旱金莲</a></li>
<li><a href="/tag/what">大丽花</a></li>
<li><a href="/tag/what">丽穗凤梨</a></li>
<li><a href="/tag/what">球兰</a></li>
<li><a href="/tag/what">小苍兰</a></li>
<li><a href="/tag/what">菊花</a></li>
<li><a href="/tag/what">曼陀罗</a></li>
<li><a href="/tag/what">文竹</a></li>
<li><a href="/tag/what">桂花</a></li>
<li><a href="/tag/what">合果芋</a></li>
<li><a href="/tag/what">夹竹桃</a></li>
<li><a href="/tag/what">橡皮树</a></li>
</ul>
{% endblock %}
