{% extends "base.html" %}

{% block body %}
<ul class="activity-timeline">
    <li>
        <div class="at-showcase clearfix">
            <div class="avatar">
                <img src="/static/img/avatar.png" width="50px"/>
            </div>
            <div class="message-image">
                <img src="/static/img/flower1.jpg" width="60px" />
            </div>
            <div class="activity-info">
                <div class="activity-meta">
                    <span class="message">
                        <span class="link">阳光璀璨</span>上传了一张<span class="link">小花(水仙花)</span>的照片。</span>
                    </span>
                    <br />
                    <span class="timeago">5 分钟前</span>
                </div>
            </div>
        </div>
        <button class="ck-actions-button" data-fluid="true">
            <a href="/member/1" class="ck-option ck-link">阳光璀璨</a>
            <a href="/plant/1" class="ck-option ck-link">小花</a>
            <a href="/wiki/1" class="ck-option ck-link">水仙花</a>
            <a href="/photo/1" class="ck-option ck-link">查看照片</a>
        </button>
    </li>
    <li>
        <div class="at-showcase clearfix">
            <div class="avatar">
                <img src="/static/img/avatar.png" width="50px"/>
            </div>
            <div class="activity-info">
                <div class="activity-meta">
                    <span class="message">
                        <span class="link">阳光璀璨</span>的<span class="link">小花(水仙花)</span>开花了。</span>
                    </span>
                    <br />
                    <span class="timeago">10 分钟前</span>
                </div>
            </div>
        </div>
        <button class="ck-actions-button" data-fluid="true">
            <a href="/member/1" class="ck-option ck-link">阳光璀璨</a>
            <a href="/plant/1" class="ck-option ck-link">小花</a>
            <a href="/wiki/1" class="ck-option ck-link">水仙花</a>
        </button>
    </li>
    <li>
        <div class="at-showcase clearfix">
            <div class="avatar">
                <img src="/static/img/avatar.png" width="50px"/>
            </div>
            <div class="activity-info">
                <div class="activity-meta">
                    <span class="message">
                        <span class="link">阳光璀璨</span>写了一篇关于<span class="link">水仙花</span>的<span class="link">文字</span>：</span>
                    </span>
                    <br />
                    <span class="summary">一盏盈盈净水，一捧珠玑石子，水仙静立其中，轻吐清香。 李笠渔道，在女子中，面似桃，腰似柳，丰如牡丹芍药，瘦比秋菊海棠的，随处可见；而像水仙那样淡而多姿，不动不摇而能媚的实在没有见过...</span>
                    <br />
                    <span class="timeago">43 分钟前</span>
                </div>
            </div>
        </div>
        <button class="ck-actions-button" data-fluid="true">
            <a href="/member/1" class="ck-option ck-link">阳光璀璨</a>
            <a href="/plant/1" class="ck-option ck-link">小花</a>
            <a href="/wiki/1" class="ck-option ck-link">水仙花</a>
        </button>
    </li>
</ul>
{% endblock %}
