{% extends "base.html" %}

{% block html_title %}记录成长{% endblock %}

{% block body %}
<form method="post" action="/plant/add" class="annotaCommentForm">
    <div class="ck-form-unit">
        <div class="ckd-item">
            <label class="ck-title">选择照片</label>
            <input name="plant-name" type="file"></input>
        </div>
        <div class="ckd-item">
            <label class="ck-title">植物种类</label>
            <div class="ck-select actions1 demo"
                data-fluid="true"
                data-title="选择植物" style="width: 100%">
                <input type="hidden" value="date">
                <button style="width: 95%;" type="button" value="price" class="ck-option">仙人球</button>
                <button style="width: 95%;" type="button" value="date" class="ck-option enabled">小花</button>
                <button style="width: 95%;" type="button" value="alpha" class="ck-option">牡丹</button>
                <button style="width: 95%;" type="button" value="editor" class="ck-option">君子兰</button>
            </div>
        </div>
        <div class="ckd-item">
            <button type="submit" class="ck-post-button" data-style="big" data-fluid="true">
                <span>上传成长</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}
