{% extends "base.html" %}

{% block html_title %}图鉴{% endblock %}

{% block body %}

<div class="ck-box-unit" data-cfg-paper="true" data-cfg-disable-reader="true">
    <img class="ck-link-img" src="/static/img/wiki1.jpg">
</div>

<div class="ck-list-unit"
    data-style="post"
    data-cfg-plainhd="true"
    data-source="ckdListA">
</div>

<div class="ck-raw" id="rawData1">
    <div class="ckd-source ckdListA">
        <div class="ckd-item ckdItemA">
            <span class="ckd-title">水仙</span>
            <span class="ckd-title-prefix">中文学名：</span>
        </div>
        <div class="ckd-item ckdItemB">
            <span class="ckd-title">Daffodi</span>
            <span class="ckd-title-prefix">拉丁学名：</span>
        </div>
        <div class="ckd-item ckdItemC">
            <span class="ckd-title">凌波仙子、金盏银台、落神香妃、玉玲珑、金银台、姚女花……</span>
            <span class="ckd-title-prefix">别称：</span>
        </div>
        <div class="ckd-item ckdItemD">
            <span class="ckd-title">Narcissus</span>
            <span class="ckd-title-prefix">二名法：</span>
        </div>
        <div class="ckd-item ckdItemE">
            <span class="ckd-title">被子植物门</span>
            <span class="ckd-title-prefix">门：</span>
        </div>
        <div class="ckd-item ckdItemF">
            <span class="ckd-title">单子叶植物纲</span>
            <span class="ckd-title-prefix">纲：</span>
        </div>
        <div class="ckd-item ckdItemG">
            <span class="ckd-title">百合目</span>
            <span class="ckd-title-prefix">目：</span>
        </div>
        <div class="ckd-item ckdItemG">
            <span class="ckd-title">石蒜科</span>
            <span class="ckd-title-prefix">科：</span>
        </div>
        <div class="ckd-item ckdItemH">
            <span class="ckd-title">水仙属</span>
            <span class="ckd-title-prefix">属：</span>
        </div>
        <div class="ckd-item ckdItemI">
            <span class="ckd-title">水仙</span>
            <span class="ckd-title-prefix">种：</span>
        </div>
    </div>
</div>
{% endblock %}
