<html>
<head>
</head>
<body>
    <form id="login_form" method="POST" action="/auth/login/">
        <span class="help-block">用户名 (邮箱前缀)</span>
        <input name="username" type="text" class="span9" placeholder="username">
        <br>
        <span class="help-block">密码 (区分大小写)</span>
        <input name="password" type="password" class="span9" placeholder="password">
        
        <br>
        <button type="submit" class="btn-primary btn span4">登录</button><span class="help-inline"><a href="http://sysadmin.douban.com/ldap/resetpw/">忘记密码？</a></span>
    </form>
</body>
</html>
